<div class="top">
  <h5>ISO9001対応 技術文書管理プラットフォーム</h5>
  <h1>Tech Document Hub</h1>
  <p>ログイン不要、操作ガイドなど、ゲストログイン、signup、signinへのリンク</p>
</div>

<div class="container">
  メイン<br>
  <br>
  <br>
  <br>
</div>

<div class="top-container">
  <%= image_tag 'books.jpg' %>
</div>
