
<div class="top">
  <h1>Tops#index</h1>
  <p>Find me in app/views/tops/index.html.erb</p>
  <p>ログイン不要、操作ガイドなど、ゲストログイン、signup、signinへのリンク</p>
</div>

<div class="image-before">
  <%= image_tag 'Completed-bro.png' %>
</div>

<div class="image-after">
  <%= image_tag 'Code typing-bro.png' %>
</div>
