<div class="top">
  <br>
  <br>
  <h5>ISO9001対応 技術文書管理プラットフォーム</h5>
  <h1>Tech Document Hub</h1>
</div>

<div class="container">
  <br>
  <br>

</div>

<div class="top-container">
  <%= image_tag 'books.jpg' %>
</div>
