.navbar-link {
  margin-left: auto;
}

.navbar .btn + .btn {
  margin-left: 5px;
}

div .navbar-link a  {
  color: #fff;
}

.container-index {
  padding-top: 1%;
  padding-left: 4%;
  border-top: 1px solid #ccc;
}

footer {
  background-color: #fff;
  border-top: 1px solid #ccc;
  color: #797979;
  font-size: 0.9rem;
  text-align: center;

  width: 100%;
  height: 30px;
}

.btn-padding-bottom {
  padding-bottom: 1%;
}

.btn-padding-top {
  padding-top: 1%;
}

h4 {
  padding-left: 4%;
}

input + label {
  padding-left: 0.7%;
}
select + label {
  padding-left: 0.7%;
}

a.logo {
  color: #fff;
}

.container-show {
  display: flex;
}

.department-main {
  flex: 0 0 540px;
}

.department-aside {
  flex: auto;
  min-width: 100px
}
