// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  text-align: center;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}

.top-container img {
  width: 100%;
  height: auto;
}

.how_to_use image {
  width: 300px;
  height: auto;
  item_align-items: center;
}

.container-top {
  padding-top: 1%;
  padding-left: 4%;
  border-top: 1px solid #ccc;
}

.container-top strong p li span {
  font-size: 2em;
}
